body{
    margin:0;
    padding:0;
    background:black;
    font-family: Arial, sans-serif;
    color:rgb(255, 255, 255);
}
.container{
    display:flex;
    height:100vh;
    gap:20px;
    padding:20px;
    box-sizing:border-box;
}
.sidebar{
    .team-names {
    font-size: 14px;      
    color: #888888;       
    font-weight: normal; 
    margin-top: -15px;     
    margin-bottom: 20px;   
}
    width:300px;
    display:flex;
    flex-direction:column;
    margin-right:20px;
}
.stack-box{
    width:100%;
    height:120px;
    background:#222;
    border:1px solid white;
    border-radius:8px;
    margin-bottom:20px;
    padding:10px;
    overflow-y:auto;
    display:flex;
    flex-direction:row;
    gap:10px;
}
.sorted-box{
    width:100%;
    height:120px;
    background:#222;
    border:1px solid white;
    border-radius:8px;
    margin-bottom:20px;
    padding:10px;
    overflow-x:auto;
    display:flex;
    flex-direction:row;
    align-items:center;
    gap:10px;
}
.button-container{
    display:flex;
    justify-content: space-between;
}
button{
    width: 120px;
    height:50px;
    background:deepskyblue;
    color:black;
    border:none;
    border-radius: 8px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}
button:hover{
    background: deepskyblue;
    transform: scale(1.08);      
    box-shadow: 0 0 12px #00aaff; 
}

.game-area{
    flex:1;
    background:#111;
    border-radius:10px;
    border:2px solid white;
    position: relative;
    overflow: hidden;
}
.bubble {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, #fff9b0, #ffd84d, #ffb300);
  top: -50px;             
  pointer-events: auto;
  animation: fall 7s linear forwards;
}

@keyframes fall {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(120vh);  
  }
}